FlowSave2DashDB.txt
[{"id":"f8dcf9cc.2a7618","type":"tab","label":"Flow 4"},{"id":"8b6cbfeb.0fb1e","type":"ibmiot in","z":"f8dcf9cc.2a7618","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":142,"y":99,"wires":[["500af1eb.cade8"]]},{"id":"eacaf84f.1c1028","type":"function","z":"f8dcf9cc.2a7618","name":"","func":"deviceId = msg.deviceId;\ndeviceType = msg.deviceType;\nmsg.payload = msg.payload.d;\nmsg.payload = {\n DEVICEID : deviceId,\n DEVICETYPE : deviceType,\n CABINSPEED : parseInt(msg.payload.cabinSpeed),\n CABINTEMP : parseInt(msg.payload.cabinTemp),\n CURRENTFLOOR : parseInt(msg.payload.currentFloor),\n DIRECTION : parseInt(msg.payload.direction),\n DOOROPEN : parseInt(msg.payload.doorOpen), \n LOAD : parseInt(msg.payload.load),\n MAINTENANCEREASON : \"Motor temperature > 200\",\n MAINTENANCESTOP : 1,\n MOTORTEMP : parseFloat(msg.payload.motorTemp),\n TIMESTAMP : new Date().toISOString()    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":99.5,"wires":[["4f6f828f.7be57c","bc9bada7.19f78"]]},{"id":"4f6f828f.7be57c","type":"dashDB out","z":"f8dcf9cc.2a7618","dashDB":"e1ef6c34.1ab07","service":"_ext_","table":"ELEVATOR_ALERTS_NR","name":"ELEVATOR_ALERTS_NR","x":798,"y":100,"wires":[]},{"id":"500af1eb.cade8","type":"switch","z":"f8dcf9cc.2a7618","name":"MotorTemp","property":"payload.d.motorTemp","propertyType":"msg","rules":[{"t":"gt","v":"200","vt":"str"},{"t":"lte","v":"200","vt":"str"}],"checkall":"true","outputs":2,"x":326,"y":99,"wires":[["eacaf84f.1c1028"],[]]},{"id":"bc9bada7.19f78","type":"debug","z":"f8dcf9cc.2a7618","name":"","active":true,"console":"false","complete":"payload","x":760,"y":158,"wires":[]},{"id":"e1ef6c34.1ab07","type":"dashDB","z":"","hostname":"dashdb-entry-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"dashDBElevators"}]